* {
    font-family: 'Inter', sans-serif;
    // font-family: 'Readex Pro', sans-serif;
    transition: 0.5s all;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: black;
}

button {
    background: none;
}

.container {
    width: 1294px;
    margin: 0 auto;
}

.button {
    padding: 14px 53px;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid black;
    border-radius: 50px;
    &:hover {
        background-color: white;
    }
}

.title {
    font-family: 'Readex Pro';
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    font-family: 'Readex Pro';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 auto;
    width: 628px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    &__links {
        width: 444px;
        display: flex;
        justify-content: space-between;
    }
    &__links li {
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        position: relative;
    }
    &__links ul {
        position: absolute;
        left: 0px;
        top: 100%;
        display: none;
        padding: 0;
    }
    &__links li:hover ul {
        display: block;
        width: 100%;
        z-index: 10;
    }
    &__dropdown li {
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        padding: 6px;
    }
    &__dropdown {
        background: white;
        opacity: 0.8;
    }
    &__drop {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
    }
    &__buttons {
        display: flex;
        gap: 22px;
    }
    &__menu {
        width: 35px;
        height: 35px;
        display: none;
        img {
            width: 100%;
        }
    }
}

.first {
    height: 550px;
    background-color: #DCE5E2;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    position: relative;
    &__left-button {
        position: absolute;
        width: 14px;
        height: 26px;
        left: 20px;
        cursor: pointer;
    }
    &__right-button {
        position: absolute;
        width: 14px;
        height: 26px;
        right: 20px;
        cursor: pointer;
    }
    &__left {
        width: 588px;
        margin-left: 56px;
    }
    &__right {
        width: 647px;
        height: 100%;
        img {
            width: 100%;
        }
    }
    &__title {
        font-size: 58px;
        line-height: 70px;
        margin-bottom: 20px;
        font-family: 'Readex Pro', sans-serif;
    }
    &__subtitle {
        width: 565px;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 30px;
    }
    &__lines {
        width: 650px;
        height: 2px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 34px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__line {
        width: 194px;
        background-color: black;
        height: 100%;
        cursor: pointer;
    }
}

.categories {
    padding-top: 75px;
    &__block {
        display: flex;
        justify-content: space-between;
        padding-top: 56px;
        gap: 16px;
    }
    &__left {
        height: 792px;
        width: 639px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & > div {
            box-shadow: 0px 0px 8px gray;
        }
    }
    &__right {
        display: flex;
        justify-content: space-between;
        align-items: flex-start; 
        gap: 16px;
        & > div {
            box-shadow: 0px 0px 8px gray;
        }
    }
    &__laptop {
        width: 100%;
        height: 472px;
        padding: 0px 42px;
        display: flex;
        flex-direction: column;
        & .categories__info {
            align-self: flex-end;
            width: 192px;
            & p {
                text-align: right;
            }
        }
    }
    &__watch {
        display: flex;
        align-items: center;
        & .categories__info {
            width: 192px;
            & p {
                text-align: right;
            }
        }
    }
    &__phone {
        width: 312px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        & .categories__image {
            margin-top: 144px;
            margin-bottom: 42px;
            margin-left: 16px;
        }
        & .categories__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 250px;
        }
        & .categories__info p {
            text-align: center;
        }
    }
    &__ipad {
        width: 312px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        & .categories__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 250px;
            margin-top: 114px;
            margin-bottom: 42px;
        }
        & .categories__info p {
            text-align: center;
        }
    }
    &__descr {
        font-size: 15px;
        line-height: 19px;
    }
    &__text {
        font-size: 32px;
        line-height: 38px;
    }
}

.sale {
    padding-top: 72px;
    &__block {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    &__card {
        width: 303px;
        height: 396px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
            margin: 28px;
        }
    }
    &__name {
        font-family: 'Readex Pro';
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 9px;
    }
    &__info {
        font-size: 14px;
        line-height: 17px;
        color: #4B4B4B;
    }
    &__price {
        font-size: 18px;
        line-height: 22px;
        margin-top: 8px;
    }
}

.service {
    padding-top: 75px;
    &__block {
        padding-top: 56px;
        display: flex;
        justify-content: space-between;
        gap: 28px;
    }
    &__card {
        background: #F8F9FA;
        border-radius: 16px;
        width: 413px;
        display: flex;
        flex-direction: column;
        padding-top: 41px;
        align-items: center;
        height: 453px;
    }
    &__descr {
        font-family: 'Readex Pro';
        font-size: 13px;
        line-height: 17px;
    }
    &__name {
        font-family: 'Readex Pro';
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 30px;
    }
    &__button {
        margin-bottom: 30px;
    }
}

.ideas {
    padding-top: 47px;
    padding-bottom: 24px;
    &__block {
        margin-top: 56px;
        display: flex;
        gap: 35px;
        margin-bottom: 74px;
    }
    &__text {
        padding-top: 14px;
    }
    &__string {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 23px;
    }
    &__footer {
        width: 110px;
        margin: 0 auto;
        display: flex;
        align-self: center;
    }
    &__descr {
        font-size: 24px;
        line-height: 29px;
        text-transform: capitalize;
    }
}

.search {
    padding-top: 50px;
    padding-bottom: 75px;
    width: 650px;
    margin: 0 auto;
    &__area {
        margin: 0 auto;
        margin-top: 24px;
        height: 60px;
        background: #F8F9FA;
        border: 1px solid #C5C5C5;
        border-radius: 100px;
        display: flex;
        padding: 15px 17px;
        align-items: center;
    }
    &__input {
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        padding: 10px 20px;
        width: 80%;
        background: none;
    }
    &__block {
        padding-top: 18px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 7px;
    }
    &__card {
        padding: 12px 22px 13px 22px;
        border: 1px solid #C5C5C5;
        border-radius: 200px;
    }
}

.feedback {
    background: #DCE5E2;
    border-radius: 16px;
    height: 450px;
    padding: 47px 0px 43px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 935px;
    margin: 0 auto;
    &__subtitle {
        padding-top: 9px;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 14px;
    }
    &__image {
        margin-bottom: 14px;
    }
    &__form {
        width: 400px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 54px;
    }
    &__input {
        border: 1px solid #000000;
        border-radius: 54px 0px 0px 54px;
        width: 285px;
        height: 100%;
        padding: 16px 10px 17px 32px;
        font-size: 14px;
        line-height: 17px;
        color: black;
        background: none;
    }
    &__button {
        width: 115px;
        height: 100%;
        color: white;
        background: #000000;
        border-radius: 0px 54px 54px 0px;
        cursor: pointer;
        font-size: 14px;
        line-height: 17px;
    }
}

.footer {
    margin: 0 auto;
    margin-top: 20px;
    padding: 29px 73px 80px 73px;
    background: #F8F9FA;
    &__block {
        width: 1440px;
        display: flex;
        gap: 120px;
        margin: 0 auto;
    }
    &__left {
        width: 394px;
    }
    &__descr {
        width: 304px;
        padding-top: 18px;
    }
    &__right {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__card {
        display: flex;
        flex-direction: column;
    }
    &__link {
        font-size: 17px;
        line-height: 22px;
        margin-bottom: 15px;
        &_big {
            font-family: 'Readex Pro';
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 20px;
        }
    }
}

@import 'media';